<% provide(:title, "Home") %>
<h1><b>VibeCity Home</b></h1>
<p>
I LOVE YOU TERESIA!! AND ONE DAY I WILL MARRY YOU>
Vibe City is the world leader in providing top quality DJ equipment, 
and music to DJs all around the world. We offer a wide variety of music
for any gig, and we even help you land gigs. We also offer top notch equipment 
from mixers, speakers, visual edits etc. We offer a membership to help you save money, 
and gain business by bridging client with DJ. Hope you enjoy the many perks of being part of VibeCity!

</p>
