<% provide(:title, "Membership") %>
<h1><b>VibeCity Membership</b></h1>
<p>
  Vibe City Memberships gives you access to the best deals we have to offer. As a member you will 
  also be able to have your own personal shopping cart to help keep up with the many items you wish to have.
  Being a member with VieCity ensures thatg you have everything you need to support your DJ career.
  Sign up now by clicking this link:
   <%= link_to "Sign up for a VibeCity Membership!", signup_path %>
</p>