@import "bootstrap-sprockets";
@import "bootstrap";


img
            {
                text-align:center ;
                border:5px solid white;
                Width:1150px;
                height:250px;
            }


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


body {
  padding-top: 50px;
  background: black;
  margin-left: 0px;
  

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
    margin-top:0px;
    color: white;
    text-align:center;
    font-size:65px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


.center {
  text-align: center;
}

p{
    font-size: 1.1em;
  line-height: 1.7em;
    color: white; 
  margin-top:300px;
  margin-bottom:300px;
   text-align: center;
}
 li
            {
                float: left;
            }
            
           li a, .dropbtn 
           {
            display: inline-block;
            color: White;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
            
            li a:hover, .dropdown:hover .dropbtn
            {
                background-color: red;
            }
          
           
           li.dropdown 
            {
                display: inline-block;
            }
           
           .dropdown-content 
           {
                    display: none;
                    position: absolute;
                    background-color: black;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
            }
           
           
           .dropdown-content a 
           {
                color: red;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
           }
           
            
            
            .dropdown-content a:hover {background-color: white}
            
           .dropdown:hover .dropdown-content 
            {
                display: block;
            }
            
            /* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
  
  checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  color: white;
  li {
    padding: 10px 0;
    border-top: 1px solid white;
    color:white;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 100px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {

    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 2px;
    margin-top: 2px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 2px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}